.container {
    text-align: center;
    background-color: rgb(117, 230, 238);
    padding : 40px;
    border-color:   antiquewhite;
    border-radius: 15px;

}

.buttons {
    margin-top: 20px;
    padding: 10px;
    margin: 10px;
    background-color: beige;
    width: 70px;
    border-radius: 15px;
}





